<div class="container">
  <h2 class="text-center p-3"><%= @user.name %>さんとのChat</h2>
  <div class="text-center">
    <%= form_with model: @chat, local: true do |f| %>
      <%= f.text_field :message %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "送信", class: "btn btn-sm btn-success" %>
    <% end %>
  </div>

   <div class="mt-3" style="width: 400px;">
  <% @chats.reverse.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;"><%= chat.message %></p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>
  </div>
