<div class="mb-4">
  <% posts.each do |post| %>
    <div class="row mt-3">
      <%= attachment_image_tag post, :image,size: "200x200", format: "jpeg", fallback: "post_no_image.jpeg", class: "col-4 offset-2" %>
      <div class="col-4">
        <div class="row">
          <p><%= attachment_image_tag post.user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %></p>
          <p class="d-flex align-items-center ml-3">
            <% if user_signed_in? %>
              <%= link_to post.user.name, user_path(post.user) %>
            <% else %>
              <%= post.user.name %>
            <% end %>
          </p>
        </div>
        <p class="col-5">
          Title:
          <%= link_to post.title, post_path(post) %>
        </p>
        <p class="col-6"><%= post.post_comments.count %>コメント</p>
        <p class="col-5"><%= post.favorites.count %>いいね</p>
      </div>
    </div>
  <% end %>
</div>
<%= paginate posts %>
