<div class="container">
  <h2 class="text-center">投稿一覧</h2>
  <% @posts.each do |post| %>
    <div class="row">
      <%= attachment_image_tag post, :image,size: "250x250", class: "col-4" %>
      <div class="col-8">
        <div class="row">
          <p><%= image_tag('no_image.jpg') %></p>
          <p class="d-flex align-items-center ml-3"><%= post.user.name %></p>
        </div>
        <p class="col-2">
          title:
          <%= link_to post_path(post) do %>
            <%= post.title %>
          <% end %>
        </p>
        <p class="col-2">content:<%= post.content %></p>
        <p class="col-2"><%= post.created_at.strftime('%Y/%m/%d') %></p>
      </div>
    </div>
  <% end %>
</div>